.custom-modal{
    top: 50%;
    left: 50%;
    bottom: 50%;
    height:fit-content;
    width: fit-content;
    transform: translate(-50%, -50%);
  }

.custom-modal-detail {
    top: 50%;
    left: 50%;
    bottom: 50%;
    /* height:fit-content; */
    width: fit-content;
    transform: translate(-50%, -50%);
  }

  .header{
    text-align: center;
  }

  .content{
    display: flex;
    align-items: center;
    justify-content: center;
  }